@page "/"

@inherits CancellableComponent;
@inject INoteService _noteService;

<h1>Hello, world!</h1>

<textarea
    id="editor" spellCheck="true" rows="15"
    @bind-value="_content" @bind-value:event="oninput"
    @onkeyup="HandleOnKeyUp"
></textarea>

@code
{
    private string _content = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _content = await _noteService.LoadAsync(CancellationToken);
            StateHasChanged();
        }
    }

    private async Task SaveNoteContent() => await _noteService.SaveAsync(_content, CancellationToken);

    private async Task HandleOnKeyUp(KeyboardEventArgs obj) => await SaveNoteContent();
}